{% extends "../base.html" %}

{% block title %}
    {{ site.name }}
{% end %}

{% block header %}
    {% include '../home/header.html' %}
{% end %}

{% block javascript %}
    <script type="text/javascript">
    $(document).ready(function()
    {
        var api_url = $.environmentVar(
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/');

        var checkout_url = $.environmentVar(
            'https://pay.loadingplay.com/',
            'https://pay.loadingplay.com/',
            'https://pay.loadingplay.com/');

        var app_public = $.environmentVar(13, 13, 13);
        var site_name = $.environmentVar('necsa', 'necsa', 'necsa');

        var e = $(document).ecommerce({
            'app_public': app_public,
            'products_per_page': 6,
            'ignore_stock': true,
            'base_url': api_url,
            'checkout_url': checkout_url,
            'site_name': site_name
        });

    });
    </script>
{% end %}

{% block body %}
    {% if is_admin %}
        {% set editabletext = 'editabletext' %}
    {% else %}
        {% set editabletext = '' %}
    {% end %}

    {% include '../home/menu_fixed.html' %}

    <section style="position: relative;bottom: 30px;">
        {% if is_admin %}
            <div class="">
                <div class="image-upload lapiz visible-movil">
                    <label for="img_banner_carrito">
                        <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_carrito" name="image" id="img_banner_carrito">
                </div>
            </div>
        {% end %}
        <img id="{{ site.name }}_banner_carrito" src="{{ read_image(site.name + '_banner_carrito', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_carrito',500) }}'" class="carrito" alt="item">
        <div class="midled">
            <h1 class="col-md-12 col-xs-12  text-cart text-center {{editabletext}}" text-id="{{ site.name + '_carrito' }}"> {{ read_text(site.name +  '_carrito') }}</h1>
        </div>
    </section>

    <div class="row margin_bottom_movil">
        <div id="basket" class="col-md-12">
            <div class="box box-cart">
                <div class="table-responsive text-cart2">
                    <table class="table aling table-condensed ">
                        <thead>
                            <tr class="text-aling hidden-xs hidden-sm">
                                <th class="">SKU</th>
                                <th class="colspan ">Nombre</th>
                                <th class="">Precio unitario</th>
                                <th class="">
                                    <div class="">Precio con descuento</div>
                                </th>
                                <th class="">Cantidad</th>
                                <th class="">
                                    <div class="total-compra">Total</div>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="shopping-cart font_weight"></tbody>
                    </table>
                </div>
                <br/>
            </div>
        </div>
    </div>
    <div>
    </div>
    <div class="col-md-12 buttons mbtm150 padding_btn">
        <div class="col-md-12 col-xs-12 col-sm-12 checkout-form pull-right btn mbtm150"></div>
    </div>

    {% include '../home/footer.html' %}
{% end %}
